:root {
    --color-red: #e83e8c;
    --color-blue: #17a2b8;
    --color-grey: #343a40;
    --color-dark-grey: #1d2022;
    --color-dark-blue: #1f717e;
    --color-light-blue: #37c1d6;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-dark-grey);
    background-image: radial-gradient( ellipse at 50% 5%, var(--color-dark-blue) 0%, transparent 90%), url('./media/bg.png');
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 3px var(--color-blue);
    background-repeat: no-repeat;
}

.app {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 2vh;
}

.panel {
    clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 1rem + 2px), calc(100% - 1rem + 2px) 100%, 0 100%);
    border: 3px solid var(--color-grey);
    position: relative;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.30);
    color: var(--color-blue);
    text-shadow: 0px 0px 3px black;
}

.panel:before {
    background-color: var(--color-grey);
    bottom: 4px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    right: -6px;
    top: auto;
    transform: rotate(-45deg);
    width: 22.627416px;
    z-index: 100;
}

.panel-selected {
    border: 2px solid var(--color-blue);
}

.panel-selected:before {
    background-color: var(--color-blue);
}

.panel-legend {
    padding-left: 0.5em;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    vertical-align: bottom;
    background-color: var(--color-grey);
    margin-bottom: 0px;
    text-shadow: 0px 0px 3px var(--color-blue);
    display: inline;
    padding-right: 1.5em;
    clip-path: polygon( 0.25em 0, calc(100% - 1em) 0, 100% 100%, 0.33em 100%, 0 100%, 0 0.25em);
    color: white;
}

.panel-legend-selected {
    background-color: var(--color-blue);
}

.info {
    text-align: center;
    color: var(--color-blue);
}

.scrollable::-webkit-scrollbar {
    width: 5px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: var(--color-blue);
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: var(--color-light-blue);
}

.scrollable::-webkit-scrollbar-track {
    background: var(--color-dark-grey);
}

a {
    color: var(--color-red);
}

a:hover {
    text-decoration: none;
    color: var(--color-light-blue);
}

.scrollable {
    max-height: 50vh;
    overflow-y: auto;
    display: block;
    scrollbar-color: var(--color-blue) var(--color-dark-grey);
    scrollbar-width: thin;
}

.scrollable * {
    scrollbar-color: var(--color-blue) var(--color-dark-grey);
    scrollbar-width: thin;
}

@media screen and (max-width:1280px) {
    .panel-legend h1 {
        font-size: 1em;
    }
    .panel-legend h3 {
        font-size: 0.75em;
    }
    .panel-legend h6 {
        font-size: 0.5em;
    }
}

@media screen and (min-width:1281px) {
    .panel-legend h1 {
        font-size: 1em;
    }
    .panel-legend h3 {
        font-size: 1em;
    }
    .panel-legend h6 {
        font-size: 1em;
    }
}